.score-panel {
  text-align: center;
  font-weight: bold;
  background-color: #00c1a0;
  min-width: 70px;

  hr {
    margin: 0 25% 0 25%;
  }

  .score {
    font-size: 1.4em;
    line-height: 30px;
  }
  .text {
    line-height: 25px;
  }
}
