.score-panel {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  background-color: #00c1a0;
  width: 50%;

  @media (min-width: 1000px) {
    width: 100px;
  }

  hr {
    margin: 0 25% 0 25%;
  }

  .score {
    height: 60%;
    font-size: 1.4em;
    line-height: 30px;
    @media (min-width: 1000px) {
      font-size: 2em;
      line-height: 45px;
    }
  }
  .text {
    line-height: 25px;
    @media (min-width: 1000px) {
      line-height: 35px;
    }
  }

}
