//@ship-sprite-ratio: 3.75;
//@ship-height: 60px * 0.5;
//@ship-width: @ship-height * @ship-sprite-ratio;
//@ship-panel-width: @ship-width * 1.5;
//@hits-bar-item-width: (@ship-panel-width - @ship-width) / 5;

@ship-panel-height: 60px * 0.5;
@ship-panel-width: (@ship-panel-height * 3.75) * 2;


.ship-panel {
  //display: flex;
  border: 1px solid black;
  width: @ship-panel-width;
  height: @ship-panel-height;

  .ship {
    display: inline-block;
    flex-grow: 1;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;

    &.ship-type-carrier {
      background-image: url('/img/carrier_shape.png');
    }
    &.ship-type-battleship {
      background-image: url('/img/battleship_shape.png');
    }
    &.ship-type-cruiser {
      background-image: url('/img/cruiser_shape.png');
    }
    &.ship-type-submarine {
      background-image: url('/img/submarine_shape.png');
    }
    &.ship-type-destroyer {
      background-image: url('/img/destroyer_shape.png');
    }

  }

  .hits-bar {
    width: 50%;
    height: 100%;
    display: inline-block;

    .item {
      display: inline-block;
      box-sizing: border-box;
      height: 100%;
      width: 20%;
      padding: 5px;
      border: 1px solid red;
      background-image: url('/img/miss_small.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60%;

      &.status-hit {
        background-image: url('/img/hit_small.png');
      }
    }
  }
}
